.container-activity{
    background-image: url("../../img/back-form.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.btn-home{
    float: right;
    width:110px;
    margin-top: 25px;
    margin-right: 30px;
}
.container-form-act{
    width: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    padding: 50px;
    min-height: 400px;
}
input, select{
    margin-bottom: 0px;
    width: 100%;
}

input{
    width: 100%;
    border: 0;
    padding: 0;
    background: transparent;
    font: 13px sans-serif;
    border-bottom: 1px solid rgb(133, 133, 133);
}

span{
    color:red;
    font-size: 10px;
}

option{
    font-family:serif;
}

button{
    margin-top: 20px;
}

