.card{
    width: 160px;
    height: 140px;
    display:flex;
    color: rgb(102, 102, 102);
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-image: url('../../img/back-card.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1.6px;
    object-fit: contain;
    margin-top: 7px;
}
.frame{
    width: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reflection{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 23px;
    margin-left: 1px;
}

.img-card{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    flex-shrink: 0;
    margin-top: 23px;
    margin-left: 1px;
}

p{
    font-size: 13px;
    text-align:center;
}

.name-card{
    font-size: 17px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.name-smaller{
    margin-top: 5.5px;
    font-size: 11.5px;
    margin-bottom: 15px;
}

.continent-card{
    margin-top: -15px;
    font-size: 10px;
}